<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png">
        </button>
    </header>

    <h1 class="title">Мій блог</h1> --}}

    {{!-- <div class="menu">
        <button class="button menu-item">
            База знань
        </button>
        <button class="button menu-item menu-item--active">
            Інформація
        </button>
    </div> --}}

    {{!-- <div class="main">
        <button class="button">
            <img src="/img/community_img.png">
        </button>
    
        <h2 class="title2">Що таке база знань?</h2>

        <p class="main-info">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения предыдущих задач.</p>

        <button class="button button--orange">
            Перейти до ком'юніті у Телеграм
        </button>
    </div> --}}

   
</div>